<!DOCTYPE html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Title</title>

    
    
    <!--- Libs Jquery -->
    <script type="text/javascript" src="../static/vendor/modernizr-2.8.3.min.js" th:src="@{/vendor/modernizr-2.8.3.min.js}"></script>   
    <script src="../static/vendor/jquery-1.12.4.js" th:src="@{/vendor/jquery-1.12.4.js}"></script>
    <script src="../static/vendor/jqueryui-1.12.1.js" th:src="@{/vendor/jqueryui-1.12.1.js}"></script>
    
    <!--- Libs Semantic -->
    <script src="../static/semantic/dist/semantic.min.js" th:src="@{/semantic/dist/semantic.min.js}"></script> 
    
    <!--- Libs Ignite -->
    <script type="text/javascript" src="../static/IgniteUI/js/infragistics.core.js" th:src="@{/IgniteUI/js/infragistics.core.js}"></script>
    <script type="text/javascript" src="../static/IgniteUI/js/infragistics.dv.js" th:src="@{/IgniteUI/js/infragistics.dv.js}"></script>
    
        <!--- Libs Datatables -->
    <script type="text/javascript" src="../static/datatables/js/datatables-1.10.15.js" th:src="@{/datatables/js/datatables-1.10.15.js}"></script>
    <script type="text/javascript" src="../static/datatables/js/datatables-1.10.15.semanticui.min.js" th:src="@{/datatables/js/datatables-1.10.15.semanticui.min.js}"></script>
    
    <!--- Libs Components -->
    
    <!--- CSS Semantic -->
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.css" th:href="@{semantic/dist/semantic.css}" media="screen" />

    <!-- CSS Ignite -->
    <link rel="stylesheet" type="text/css" href="../static/IgniteUI/css/themes/infragistics/infragistics.theme.css" th:href="@{/IgniteUI/css/themes/infragistics/infragistics.theme.css}" media="screen" />
    <link rel="stylesheet" type="text/css" href="../static/IgniteUI/css/structure/infragistics.css" th:href="@{/IgniteUI/css/structure/infragistics.css}" media="screen" />
    <link rel="stylesheet" type="text/css" href="../static/IgniteUI/css/structure/modules/infragistics.ui.chart.css" th:href="@{/IgniteUI/css/structure/modules/infragistics.ui.chart.css}" media="screen" />

    <!--- CSS Datatables -->
    <link rel="stylesheet" type="text/css" href="../static/datatables/css/datatables-1.10.15.css" th:href="@{/datatables/css/datatables-1.10.15.css}" media="screen" />
    <link rel="stylesheet" type="text/css" href="../static/datatables/css/datatables-1.10.15.semanticui.min.css" th:href="@{/datatables/css/datatables-1.10.15.semanticui.min.css}" media="screen" />
    
    <!--- CSS Components -->
    <style>
        body {
            padding: 1em;
        }
        .spaced > .button {
            margin-bottom: 1em;
        }
    </style>

    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }
        .main.container {
            margin-top: 6em;
        }
        .horizontal.divider {
            margin-top: 1em;
        }
        .wireframe {
            margin-top: 2em;
        }
        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>        

    <style type="text/css">
        
        .selectionOptions {
            width: 450px;
            margin-top: 10px;
        }

        .selectionOptions > label {
            display: block;
        }
    </style>
   
</head>

<body>

    <nav class="ui fixed menu inverted navbar">
        <a href="" class="brand item">Project Name</a>
        <a href="" class="active item">Home</a>
        <a href="" class="item">Features</a>
        <a href="" class="item">Contact</a>
    </nav> <!-- end nav -->

    <div class="ui main container">

        <div class="ui grid page">

            <div class="sixteen wide column">
                <div class="ui grid">
<p><b>Asbury’s Risk Model: When To Be Invested</b></p>
               </div>
            </div>

            <div class="ui horizontal"></div>

            <div class="sixteen wide column">
                <table class="ui very basic table" id="etfoverviewtable">
                    <tr>
                        <th class="center aligned">SPY</th>
                        <th class="center aligned">Rate of Chg</th>
                        <th class="center aligned">Versus JNK</th>                        
                        <th class="center aligned">On Balance Vol</th>
                        <th class="center aligned">Bond Spread</th>
                        <th class="center aligned">NYSE Adv Decl</th>
                        <th class="center aligned">VIX</th>
                    </tr>
                    <tr>
                        <td class="center aligned" th:text="${summary.spyPerf}">SPY</td>
                        <td class="center aligned" th:text="${summary.spyRoc}">Rate of Chg</td>
                        <td class="center aligned" th:text="${summary.spyJnk}">Versus JNK</td>
                        <td class="center aligned" th:text="${summary.spyObv}">On Balance Vol</td>                        
                        <td class="center aligned" th:text="${summary.spread}">Bond Spread</td>
                        <td class="center aligned" th:text="${summary.advdecl}">NYSE Adv Decl</td>
                        <td class="center aligned" th:text="${summary.vixPerf}">VIX</td>
                    </tr>
                </table>
            </div>

            <div class="ui horizontal"></div>
            
            <div class="sixteen wide column">
                <div class="ui segment">
                
                    <div class="ui menu top">
                        <a class="active item" data-tab="overviewtab">Overview</a>
                        <a class="item" data-tab="perftab">SPY</a>
                        <a class="item" data-tab="roctab">ROC</a>
                        <a class="item" data-tab="jnktab">SPY vs JNK</a>
                        <a class="item" data-tab="obvtab">OBV</a>
                        <a class="item" data-tab="spreadtab">Bond Spread</a>                        
                        <a class="item" data-tab="adtab">NYSE AD</a>
                        <a class="item" data-tab="vixtab">VIX</a>
                    </div>
            
                    <div class="ui tab active" data-tab="overviewtab">
                        <div class="ui grid">
<p></p>
<p>
When all Asbury factors are positive, market internals are the most conducive to adding risk. 
Each negative reading adds an additional element of risk to participating in current or new investment ideas.
</p>
<p>
SPY performance should be greater than its 21 day moving average.
</p>
<p>
SPY monthly rate of change measures momentum and should be positive.
</p>
<p>
SPY outperforming JNK historically coincides with near term strength for SPY.
</p>
<p>
SPY on-balance volume above its 21-day moving average historically coincides with near term broad market advances.
</p>
<p>
High yield corporate bond spread narrowing (below its 21 day moving average) historically coincides with US stock market advances.
</p>
<p>
NYSE composite advance / decline line above its 21-day moving average historically coincides with near term broad market advances.
</p>
<p>
VIX moving below its 21-day moving average historically coincides with broad market advances.
</p>  
<p></p>      
                        </div>
                    </div>
                      
                      
                    <div class="ui tab" data-tab="perftab">
                        <p>SPY performance should be greater than its 21 day moving average.</p>
                        <br>
                        <div class="ui grid">
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="perfchart"></div>
                                </div>
                                <div class="two wide left floated column">
                                    <div id="perflegend"></div>
                                </div>
                            </div>
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="perfzoom"></div>
                                </div>
                                <div class="two wide column"></div>
                            </div>                 
                        </div>
                    </div> 
                                          
                      
                    <div class="ui tab" data-tab="roctab">
                        <p>SPY monthly rate of change measures momentum and should be positive.</p>
                        <br>
                        <div class="ui grid">
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="rocchart"></div>
                                </div>
                                <div class="two wide left floated column">
                                    <div id="roclegend"></div>
                                </div>
                            </div>
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="roczoom"></div>
                                </div>
                                <div class="two wide column"></div>
                            </div>                 
                        </div>
                    </div>   
                                         
                      
                    <div class="ui tab" data-tab="jnktab">
                        <p>An increasing relative performance (price ratio) of SPY to JNK historically coincides with near term strength for SPY.</p>
                        <br>
                        <div class="ui grid">
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="jnkchart"></div>
                                </div>
                                <div class="two wide left floated column">
                                    <div id="jnklegend"></div>
                                </div>
                            </div>
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="jnkzoom"></div>
                                </div>
                                <div class="two wide column"></div>
                            </div>                 
                        </div>
                    </div>     
                                        
                      
                    <div class="ui tab" data-tab="obvtab">
                        <p>SPY on-balance volume above its 21-day moving average historically coincides with near term broad market advances.</p>
                        <br>
                        <div class="ui grid">
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="obvchart"></div>
                                </div>
                                <div class="two wide left floated column">
                                    <div id="obvlegend"></div>
                                </div>
                            </div>
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="obvzoom"></div>
                                </div>
                                <div class="two wide column"></div>
                            </div>                 
                        </div>
                    </div>                           
                                        
                      
                    <div class="ui tab" data-tab="spreadtab">
                        <p>High yield corporate bond spread narrowing (below its 21 day moving average) historically coincides with US stock market advances.</p>
                        <br>
                        <div class="ui grid">
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="spreadchart"></div>
                                </div>
                                <div class="two wide left floated column">
                                    <div id="spreadlegend"></div>
                                </div>
                            </div>
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="spreadzoom"></div>
                                </div>
                                <div class="two wide column"></div>
                            </div>                 
                        </div>
                    </div>                           
                                        
                      
                    <div class="ui tab" data-tab="adtab">
                        <p>NYSE composite advance / decline line above its 21-day moving average historically coincides with near term broad market advances.</p>
                        <br>                        
                        <div class="ui grid">
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="adchart"></div>
                                </div>
                                <div class="two wide left floated column">
                                    <div id="adlegend"></div>
                                </div>
                            </div>
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="adzoom"></div>
                                </div>
                                <div class="two wide column"></div>
                            </div>                 
                        </div>
                    </div>                       
                                        
                    <div class="ui tab" data-tab="vixtab">
                        <p>VIX moving below its 21-day moving average historically coincides with broad market advances.</p>
                        <br>  
                        <div class="ui grid">
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="vixchart"></div>
                                </div>
                                <div class="two wide left floated column">
                                    <div id="vixlegend"></div>
                                </div>
                            </div>
                            <div class="two column row">
                                <div class="fourteen wide column">
                                    <div id="vixzoom"></div>
                                </div>
                                <div class="two wide column"></div>
                            </div>                 
                        </div>
                    </div>                           
                      
                </div>
            </div>
        </div>
    </div>

    
    <script type="text/javascript" src="js/financial-indicators.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
            var summary = [[${summary}]];
            var spyperf = [[${spyperf}]];
            var spyroc 	= [[${spyroc}]];
            var spyjnk 	= [[${spyjnk}]];
            var spyobv 	= [[${spyobv}]];
            var advdecl = [[${advdecl}]];
            var spread 	= [[${spread}]];
            var vix    	= [[${vix}]];
        /*]]>*/
    </script>
    
    <script type="text/javascript">

        $(function () {

            $("#perfchart").igDataChart({
                dataSource: spyperf,
                legend: { element: "perflegend" },
                width: "100%",
                height: "350px",
                leftMargin: 30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                horizontalZoomable: true,
                syncChannel: "channel1",
                synchronizeVertically: false,
                syncrhonizeHorizontally: true,

                axes: 
                [ 
                    { type: "categoryX", name: "xAxis", label: "datestr", labelExtent: 60 }, 
                    { type: "numericY", name: "yAxis", title: "Value", labelExtent: 60 }
                ],
                series: 
                [
                    { 
                        name: "equity", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "spy", resolution: 8
                    }, 
                    {   
                        name: "sma", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "sma", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "sma", resolution: 8
                    }, 
                    
                    {
                        name: "itemToolTips", type: "itemToolTipLayer", useInterpolation: true, transitionDuration: 250
                    }
                ]
            });

            $("#perfzoom").igZoombar({
                width: "94%",
                leftMargin:  30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                target: "#perfchart",
                zoomWindowMinWidth: 1.2,
                defaultZoomWindow: { left: 60, width: 40 }
            });

            $("#perfzoom").css("margin-left", "44px");

            $("#perfzoom").igZoombar("clone").igDataChart({
                subtitle: null,
                rightMargin: 0,
                axes: 
                [ { name: "xAxis", interval: NaN } ],
                series: 
                [
                    { name: "equity", remove: true }, 
                    { name: "close", type: "area", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value" }
                ]
            });

        });

    </script>    


    <script type="text/javascript">

        $(function () {

            $("#rocchart").igDataChart({
                dataSource: spyroc,
                legend: { element: "roclegend" },
                width: "100%",
                height: "350px",
                leftMargin: 30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                horizontalZoomable: true,
                syncChannel: "channel2",
                synchronizeVertically: false,
                syncrhonizeHorizontally: true,

                axes: 
                [ 
                    { type: "categoryX", name: "xAxis", label: "datestr", labelExtent: 60 }, 
                    { type: "numericY", name: "yAxis", title: "Value", labelExtent: 60 }
                ],
                series: 
                [
                    { 
                        name: "equity", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "roc", resolution: 8
                    }, 
                    {
                        name: "itemToolTips", type: "itemToolTipLayer", useInterpolation: true, transitionDuration: 250
                    }
                ]
            });

            $("#roczoom").igZoombar({
                width: "94%",
                leftMargin:  30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                target: "#rocchart",
                zoomWindowMinWidth: 1.2,
                defaultZoomWindow: { left: 60, width: 40 }
            });

            $("#roczoom").css("margin-left", "44px");

            $("#roczoom").igZoombar("clone").igDataChart({
                subtitle: null,
                rightMargin: 0,
                axes: 
                [ { name: "xAxis", interval: NaN } ],
                series: 
                [
                    { name: "equity", remove: true }, 
                    { name: "close", type: "area", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value" }
                ]
            });

        });

    </script>


    <script type="text/javascript">

        $(function () {

            $("#jnkchart").igDataChart({
                dataSource: spyjnk,
                legend: { element: "jnklegend" },
                width: "100%",
                height: "350px",
                leftMargin: 30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                horizontalZoomable: true,
                syncChannel: "channel3",
                synchronizeVertically: false,
                syncrhonizeHorizontally: true,

                axes: 
                [ 
                    { type: "categoryX", name: "xAxis", label: "datestr", labelExtent: 60 }, 
                    { type: "numericY", name: "yAxis", title: "Value", labelExtent: 60 }
                ],
                series: 
                [
                    { 
                        name: "equity", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "ratio", resolution: 8
                    }, 
                    {   
                        name: "sma", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "sma", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "sma", resolution: 8
                    }, 
                    
                    {
                        name: "itemToolTips", type: "itemToolTipLayer", useInterpolation: true, transitionDuration: 250
                    }
                ]
            });

            $("#jnkzoom").igZoombar({
                width: "94%",
                leftMargin:  30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                target: "#jnkchart",
                zoomWindowMinWidth: 1.2,
                defaultZoomWindow: { left: 60, width: 40 }
            });

            $("#jnkzoom").css("margin-left", "44px");

            $("#jnkzoom").igZoombar("clone").igDataChart({
                subtitle: null,
                rightMargin: 0,
                axes: 
                [ { name: "xAxis", interval: NaN } ],
                series: 
                [
                    { name: "equity", remove: true }, 
                    { name: "close", type: "area", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value" }
                ]
            });

        });

    </script>


    <script type="text/javascript">

        $(function () {

            $("#obvchart").igDataChart({
                dataSource: spyobv,
                legend: { element: "obvlegend" },
                width: "100%",
                height: "350px",
                leftMargin: 30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                horizontalZoomable: true,
                syncChannel: "channel4",
                synchronizeVertically: false,
                syncrhonizeHorizontally: true,

                axes: 
                [ 
                    { type: "categoryX", name: "xAxis", label: "datestr", labelExtent: 60 }, 
                    { type: "numericY", name: "yAxis", title: "Value", labelExtent: 60 }
                ],
                series: 
                [
                    { 
                        name: "equity", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "obv", resolution: 8
                    }, 
                    {   
                        name: "sma", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "sma", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "sma", resolution: 8
                    }, 
                    
                    {
                        name: "itemToolTips", type: "itemToolTipLayer", useInterpolation: true, transitionDuration: 250
                    }
                ]
            });

            $("#obvzoom").igZoombar({
                width: "94%",
                leftMargin:  30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                target: "#obvchart",
                zoomWindowMinWidth: 1.2,
                defaultZoomWindow: { left: 60, width: 40 }
            });

            $("#obvzoom").css("margin-left", "44px");

            $("#obvzoom").igZoombar("clone").igDataChart({
                subtitle: null,
                rightMargin: 0,
                axes: 
                [ { name: "xAxis", interval: NaN } ],
                series: 
                [
                    { name: "equity", remove: true }, 
                    { name: "close", type: "area", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value" }
                ]
            });

        });

    </script>


    <script type="text/javascript">

        $(function () {

            $("#spreadchart").igDataChart({
                dataSource: spread,
                legend: { element: "spreadlegend" },
                width: "100%",
                height: "350px",
                leftMargin: 30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                horizontalZoomable: true,
                syncChannel: "channel5",
                synchronizeVertically: false,
                syncrhonizeHorizontally: true,

                axes: 
                [ 
                    { type: "categoryX", name: "xAxis", label: "datestr", labelExtent: 60 }, 
                    { type: "numericY", name: "yAxis", title: "Value", labelExtent: 60 }
                ],
                series: 
                [
                    { 
                        name: "equity", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "spread", resolution: 8
                    }, 
                    {   
                        name: "sma", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "sma", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "sma", resolution: 8
                    }, 
                    
                    {
                        name: "itemToolTips", type: "itemToolTipLayer", useInterpolation: true, transitionDuration: 250
                    }
                ]
            });

            $("#spreadzoom").igZoombar({
                width: "94%",
                leftMargin:  30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                target: "#spreadchart",
                zoomWindowMinWidth: 1.2,
                defaultZoomWindow: { left: 60, width: 40 }
            });

            $("#spreadzoom").css("margin-left", "44px");

            $("#spreadzoom").igZoombar("clone").igDataChart({
                subtitle: null,
                rightMargin: 0,
                axes: 
                [ { name: "xAxis", interval: NaN } ],
                series: 
                [
                    { name: "equity", remove: true }, 
                    { name: "close", type: "area", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value" }
                ]
            });

        });

    </script>    


    <script type="text/javascript">

        $(function () {

            $("#adchart").igDataChart({
                dataSource: advdecl,
                legend: { element: "adlegend" },
                width: "100%",
                height: "350px",
                leftMargin: 30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                horizontalZoomable: true,
                syncChannel: "channel6",
                synchronizeVertically: false,
                syncrhonizeHorizontally: true,

                axes: 
                [ 
                    { type: "categoryX", name: "xAxis", label: "datestr", labelExtent: 60 }, 
                    { type: "numericY", name: "yAxis", title: "Value", labelExtent: 60 }
                ],
                series: 
                [
                    { 
                        name: "equity", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "value", resolution: 8
                    }, 
                    {   
                        name: "sma", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "sma", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "sma", resolution: 8
                    }, 
                    
                    {
                        name: "itemToolTips", type: "itemToolTipLayer", useInterpolation: true, transitionDuration: 250
                    }
                ]
            });

            $("#adzoom").igZoombar({
                width: "94%",
                leftMargin:  30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                target: "#adchart",
                zoomWindowMinWidth: 1.2,
                defaultZoomWindow: { left: 60, width: 40 }
            });

            $("#adzoom").css("margin-left", "44px");

            $("#adzoom").igZoombar("clone").igDataChart({
                subtitle: null,
                rightMargin: 0,
                axes: 
                [ { name: "xAxis", interval: NaN } ],
                series: 
                [
                    { name: "equity", remove: true }, 
                    { name: "close", type: "area", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value" }
                ]
            });

        });

    </script>


    <script type="text/javascript">

        $(function () {

            $("#vixchart").igDataChart({
                dataSource: vix,
                legend: { element: "vixlegend" },
                width: "100%",
                height: "350px",
                leftMargin: 30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                horizontalZoomable: true,
                syncChannel: "channel7",
                synchronizeVertically: false,
                syncrhonizeHorizontally: true,

                axes: 
                [ 
                    { type: "categoryX", name: "xAxis", label: "datestr", labelExtent: 60 }, 
                    { type: "numericY", name: "yAxis", title: "Value", labelExtent: 60 }
                ],
                series: 
                [
                    { 
                        name: "equity", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "vix", resolution: 8
                    }, 
                    {   
                        name: "sma", type: "line", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "sma", markerType: "automatic", showTooltip: true, 
                        isTransitionInEnabled: true, isHighlightingEnabled: true, transitionInDuration: 250, title: "sma", resolution: 8
                    }, 
                    
                    {
                        name: "itemToolTips", type: "itemToolTipLayer", useInterpolation: true, transitionDuration: 250
                    }
                ]
            });

            $("#vixzoom").igZoombar({
                width: "94%",
                leftMargin:  30,
                rightMargin: 30,
                windowRectMinWidth: 0.05,
                target: "#vixchart",
                zoomWindowMinWidth: 1.2,
                defaultZoomWindow: { left: 60, width: 40 }
            });

            $("#vixzoom").css("margin-left", "44px");

            $("#vixzoom").igZoombar("clone").igDataChart({
                subtitle: null,
                rightMargin: 0,
                axes: 
                [ { name: "xAxis", interval: NaN } ],
                series: 
                [
                    { name: "equity", remove: true }, 
                    { name: "close", type: "area", xAxis: "xAxis", yAxis: "yAxis", valueMemberPath: "value" }
                ]
            });

        });

    </script>
    
        
    <script type="text/javascript">
        $('.top.menu .item').tab();
    </script>

    <script type="text/javascript">
    
        $(document).ready(function() {
            $('#holdingexample').DataTable( {
                
                "scrollCollapse": true,
                "pageLength":        10,
                "paging":         true
             } );
        } );

    </script>
    
</body>
</html>

